{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fill PDF file form</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <div class="row">
            <h1>Upload your PDF file</h1>
        </div>
        <div class="row">
            <div class="col-sm upload-section">
                {# Display django.contrib.messages as Bootstrap alerts #}
                {% bootstrap_messages %}
                <form action="/" method="post" class="upload-form"
                      enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form form show_label=True %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary form-control">
                      Upload
                    </button>
                  {% endbuttons %}
                </form>
            </div>
            <div class="col-sm file-section">
                <ul class="list-group">
                    {% for file in files %}
                      <li class="list-group-item">
                          {{ file.id }} - {{ file.get_file_name }}
                          <a href="{{ file.get_file_url }}">Download</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        let current_date = new Date();
        current_date = (current_date.getMonth()+1) + '/' + current_date.getDate() + '/' +current_date.getFullYear();
        {% for date_field in form.date_field_keys %}
            $('#id_{{ date_field }}').datepicker({
            uiLibrary: 'bootstrap4',
                value: current_date,
                format: 'mm/dd/yyyy'
        });
        {% endfor %}
    </script>
</body>
</html>
