.container {
    width: 80%!important;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container form.upload-form {
    /*margin: auto;*/
    /*width: 50%;*/
    /*align-items: center;*/
    /*text-align: center;*/
}